<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cloudcomputing">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name=
                "android.support.customtabs.action.CustomTabsService" />
        </intent>

    </queries>
    <application
        android:name=".CloudComputingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CLOUD COMPUTING"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudComputing">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="CLOUD COMPUTING APP"
            android:theme="@style/Theme.CloudComputing.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amazonaws.mobileconnectors.cognitoauth.activities.CustomTabsRedirectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="cloudcomputing"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AddNoteActivity"
            android:label="Add Note"
            android:theme="@style/Theme.CloudComputing.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cloudcomputing.MainActivity" />
        </activity>
    </application>


</manifest>